<html>
    <head>
        <link rel="stylesheet" href="assets/style.css" type="text/css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <h1>Hello World</h1>
        <form method="POST" action="/person">
            Firstname: <input type="text" id="firstname" name="firstname"><br><br>
            Lastname: <input type="text" id="lastname" name="lastname">
            <button type="submit" value="submit">Submit</button>
        </form>
        <script>
            $.ajax({
                type: "POST",
                url: "/personjson",
                data: JSON.stringify({
                    firstname: 'Zowie',
                    lastname: 'van Geest'
                }),
                dataType: "json",
                contentType: "application/json"
            })
        </script>
    </body>
</html>
